body {
    max-width: 100%;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  /* hide the inputs */
  .star-rating input {
    display: none;
  }
  /* set properties of all labels */
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  /* give label a hover state */
  .star-rating label:hover {
    transition: 0.2s ease;
    content:'\2605';
    font-size: 36px;
    line-height: 21px;
  }
  .star-rating label:active::before {
    transform:scale(1.3);
  }
  
  /* set shape of unselected label */
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  /* set full star shape for checked label and those that come after it */
  .star-rating input:checked ~ label:before {
    content:'\2605';
  }
  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
  }  

.container {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    color: white;
    background: black;
    font-size: 2vh;
    flex: 30%;
    border: 3px white solid;
}

.box2 {
    color: white;
    background: black;
    flex: 70%;
    border: 3px white solid;
}

.frame {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.frameimg
{
    width:100%;
    height:100%;
}

.content {
    font-size: 20px;
    color: white;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.content1 {
    font-size: 20px;
    color: white;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}

.header-list {
    background-color: white;
    height: 100px;
    width:100%;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.login {
    width: 100px;
    height: 40px;
    background-color: red;
    box-shadow: black;
    float: right;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    position: relative;
}

.sign-up {
    width: 100px;
    height: 40px;
    background-color: red;
    box-shadow: black;
    float: right;
    margin: 10px 10px 5px 5px;
    padding: 10px;
    position: relative;
}

.search {
    float: right;
    right:30px;
    bottom:10px;
    position: absolute;
}

.png {
    float: right;
    position: absolute;
    bottom: 10px;
    right:5px;
    width: 25px;
}

@media (max-width: 600px) {
    .box1,
    .box2 {
        flex: 100%;
        /* border: 0px; */
    }
    .content1{
        font-size:1rem;
    }
.login {
    width: 25%;
}

.sign-up {
    width: 25%;
}

.search {
    width: 38.5%;
}

.png {
    width: 6.5%;
}
}

@media (max-width: 280px) {
.login {
    margin: 10px 5px 5px 5px;
    width: 25%;
}
    
.sign-up {
    margin: 10px 10px 5px 5px;
    width: 25%;
}

.search {
    margin: -40px 44px 0 0;
    width: 38.5%;
}

.png {
    margin: -39.5px 12px 0 0;
    width: 8%;
}
}

.modal-container-1 {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline; 
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container-1.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.modal {
    background-color: white;
    width: 400px;
    height: 300px;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
.modal-container-1 {
    align-items: center;
}
}

.close{
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
    font-size: 20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s;
    margin-left: 164px;
    border: #fff;
    text-align: center;
    justify-content: center;
}

@media (max-width: 376px) {
.close {
    margin-left: 150px;
}
}

@media (max-width: 321px) {
.close {
    margin-left: 130px;
}
}

.close:hover{
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.close:focus{ outline: none; }

.title {
    margin-bottom: -5px;
}

.input-icon{
    color: #777;
    font-size: 20px;
    transform: translateY(-50%);
    position: absolute;
    margin-top: 19.5px;
    margin-left: -246px;
}

.form-control{
    font-size: 17px;
    padding: 8.5px 0px 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.form {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.checkbox {
    width: 130px;
    margin-left: -10px;
    margin-right: 27px;
    display: inline-block;
}

.forgot-password {
    color: #7F7FD5;
    display: inline-block;
    vertical-align: top;
}

.login-me {
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 66%;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.6s ease 0s;
    margin-top: 13px;
}

.login-me:hover {
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-me:focus{ outline: none; }

.modal-container-2 {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline; 
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal-container-2.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

@media (min-width: 1000px) {
.modal-container-2 {
    align-items: center;
}
}

.remember {
    margin-left: -110px;
}

.sign-up-me {
    color: #fff;
    background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 66%;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.6s ease 0s;
    margin-top: 13px;
}

.sign-up-me:hover {
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sign-up-me:focus{ outline: none; }

.have-account {
    display: block;
    margin-top: 13px;
}

.modal-container-2 .modal {
    height: 340px;
}