body {
    background-color: black;
}

.header-list {
    background-color: white;
    height: 100px;
    margin: -8px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px
}

.login {
    width: 100px;
    height: 40px;
    background-color: red;
    box-shadow: black;
    float: right;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
}

.sign-up {
    width: 100px;
    height: 40px;
    background-color: red;
    box-shadow: black;
    float: right;
    margin: 5px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

.search {
    float: right;
    margin-top: 65px;
    margin-right: -178px;
    padding-left: 5px;
}

.png {
    float: right;
    width: 23px;
    margin-right: -213px;
    margin-top: 65px;
    position: relative;
}